<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zg.sell.dao.UserDao" >

    <resultMap id="UserResultMap" type="com.zg.sell.domain.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByNameAndPassword" resultMap="UserResultMap" parameterType="String">
        select * from ay_user u
        <where>
            u.name = #{name}
            and u.password = #{password}
        </where>
    </select>
<!--    <insert id="insertUsers" parameterType="java.util.List" useGeneratedKeys="false">-->
    <insert id="insertUsers" parameterType="list" useGeneratedKeys="false">

        <if test="list.size() > 0 ">
<!--            INSERT INTO ay_user u-->
<!--            (u.id,u.name,u.password)-->
<!--            VALUES-->
<!--            <foreach collection="userlist" item="item" index="index" separator=",">-->
<!--                ( #{item.id},#{item.name},#{item.passwrod} )-->

            INSERT INTO ay_user
            (`id`,`name`,`password`)
            VALUES
            <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.name},#{item.password} )
            </foreach>
        </if>
    </insert>


</mapper>
